{% extends "base.html" %}

{% block style %}
<style type="text/css">
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-left: 3px solid #eee;
  }
}
</style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container" style="margin-top: -30px; margin-left: -10px;">
	<main class="col-md-11">
		<!-- <div class="widget widget-recent-posts"> -->
			<div class="table-responsive">
				<table class="table table-striped">
        			<thead>
        		    	<tr>
                            <th>IP</th>
                            <th>CPU</th>
                            <th>Disk</th>
                            <th>Query_Para</th>
                            <th>Fetch_Para</th>
                            <th>heap_used_percent</th>
                            <th>JDK</th>
                            <th>Status</th>
        		        </tr>
        		    </thead>
        		    <tbody>
                        {% for ela in nodeinfo %}
        		    	<tr>
        		    		<td>{{ ela.IP_Address }}</td>
        		    		<td style="color: #008B45;">{{ ela.elasticsearch_node_info_cpu.cpu.percent }}%</td>
                            <td>{{ ela.elasticsearch_node_info_fs.total.available_in_bytes }}G / {{ ela.elasticsearch_node_info_fs.total.total_in_bytes }}G</td>
                            <td>{{ ela.elasticsearch_node_info_indices.search.query_latency }} ms ({{ ela.elasticsearch_node_info_indices.search.query_time_in_millis }} / {{ ela.elasticsearch_node_info_indices.search.query_total }})</td>
                            <td>{{ ela.elasticsearch_node_info_indices.search.fetch_latency }} ms ({{ ela.elasticsearch_node_info_indices.search.fetch_time_in_millis }} / {{ ela.elasticsearch_node_info_indices.search.fetch_total }})</td>
                            <td style="color: #483D8B;">{{ ela.elasticsearch_node_info_jvm.mem.heap_used_percent }}%</td>
                            <td>{{ ela.elasticsearch_node_info_jvm.others.version }}</td>
                            {% if ela.elasticsearch_cluster_health.status == "green" %}
                            <td style="background-color: #C1FFC1;">UP</td>
                            {% elif ela.elasticsearch_cluster_health.status == "yellow" %}
                            <td style="background-color: #fef4a4;">Warn</td>
                            {% elif ela.elasticsearch_cluster_health.status == "red" %}
                            <td style="background-color: #CD5C5C;">Error</td>
                            {% endif %}
        		    	</tr>
                        {% endfor %}
        		    </tbody>
        		</table>
    		</div>
    		{% if error_msg %}
    		<p>{{ error_msg }}</p>
    		{% endif %}
            <p class="lead">{{ nodeinfo }}</p>
    		{% if is_paginated == True %}
    		<ul class="pager">
    			{% if has_previous_page == True %}
    			<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    			{% endif %}
    			{% if first == True %}
    			<li><a href="?page=1">1</a></li>
    			{% endif %}
    			{% if left %}
    				{% if left_has_more == True %}
    				<li><span>...</span></li>
    				{% endif %}
    				{% for i in left %}
    				<li><a href="?page={{ i }}">{{ i }}</a></li>
    				{% endfor %}
    			{% endif %}
    			<!-- 显示当前页面信息 -->
    			<!-- <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span> -->
    			<li><a href="?page={{ page_obj.number }}" style="color: #fff; background-color: #337ab7;">{{ page_obj.number }}</a></li>
    			{% if right %}
    			    {% for i in right %}
    				<li><a href="?page={{ i }}">{{ i }}</a></li>
    				{% endfor %}
    				{% if right_has_more == True %}
    				<li><span>...</span></li>
    				{% endif %}
    			{% endif %}
    			{% if last == True %}
    			<li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
    			{% endif %}
    			{% if has_next_page == True %}
    			<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    			{% endif %}
    		</ul>
    		{% else %}
    		<ul class="pager">
    			<li>End</li>
    		</ul>
    		{% endif %}
		<!-- </div> -->
	</main>
	{% load environment %}
	<aside class="col-md-2 sidebar">
		<div class="widget widget-recent-posts" style="margin-left: -20px; margin-top: 0px;">
			<div class="widget-title">应用环境</div>
			<!-- <hr style="background-color: #aaa; height: 1px; width: 120%; margin-top: -10px"> -->
			{% get_environment_type as environment_list %}
			<ul>
				<li><a href="{% url 'services:url' %}">所有环境</a></li>
				{% for type in environment_list %}
				<li><a href="{% url 'services:environment' type.pk %}">{{ type.name }}</a></li>
				{% empty %}
				<li>暂无分类!</li>
				{% endfor %}
			</ul>
            <ul style="margin-top: 20px;">
                <li><a href="{% url 'services:elasticsearchinfo' %}">elasticsearchinfo</a></li>
            </ul>
		</div>
	</aside>
</div>
{% endblock %}