{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container" style="margin-top: -30px">
	<main class="col-md-8">
		<div class="widget widget-recent-posts">
			{% for url in url_list %}
			<ul>
				<li>{{ url.servertype }} {{url.app_name}} <a href="#">{{ url.url }}</a></li>
			</ul>
			{% endfor %}
		</div>
	</main>
	{% load environment %}
	<aside class="col-md-4">	
		<div class="widget widget-recent-posts">
			<div class="widget-title">应用环境</div>
			{% get_environment_type as environment_list %}
			<ul>
				{% for type in environment_list %}
				<li><a href="{% url 'services:environment' type.pk %}">{{ type.name }}</a></li>
				{% empty %}
				<li>暂无分类!</li>
				{% endfor %}
			</ul>
		</div>
	</aside>
</div>
{% endblock %}