{%load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="{% static "icon/favicon.ico" %}">
	<title>Demo_Page</title>
	<!-- <link rel="stylesheet" href="./bootstrap-3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/starter-template.css" %}">
	<!-- <link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/foundation.min.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/ie10-viewport-bug-workaround.css" %}"> -->
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/signin.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/sticky-footer-navbar.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/blog.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/highlights/github.css" %}">
	<!-- blog -->
	<!-- <link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/custom.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/pace.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/ionicons.min.css" %}"> -->
	<!-- blog end -->
	<!-- <script src="{% static "bootstrap-3.3.7/js/ie-emulation-modes-warning.js" %}"></script>
	<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
	<script src="https://cdn.bootcss.com/foundation/5.5.3/js/foundation.min.js"></script> 
	<script src="https://cdn.bootcss.com/foundation/5.5.3/js/vendor/modernizr.js"></script> -->
	<!-- <style>
	.tail{
		position:absolute;
		bottom:1cm;
		width:100%;
		text-align: center;
	}
	.top{
		position:absolute;
		top:1cm;
	/*	width:100%; */
		text-align: center;
	}
	</style> -->
	{% block style %}
	{% endblock %}
</head>
<!--  style="background-color: #fffffb" -->
<body style="background-color: #fff">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'userauth:login' %}">Demo</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				{% if request.user.is_authenticated %}
				<ul class="nav navbar-nav">
					<li {% if section == "home" %} class="active" {% endif %}><a href="{% url 'myapp:home' %}">Home</a></li>
					<li {% if section == "url" %} class="active" {% endif %}><a href="{% url 'services:url' %}">URL</a></li>
					<li {% if section == "blog" %} class="active" {% endif %}><a href="{% url 'myapp:blogindex' %}">Blog</a></li>
					{% block nav %}
					{% endblock %}
				</ul>
				{% endif %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Logout<span class="sr-only">(current)</span></a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	{% block body %}
	{% endblock %}
	<!-- style="background-color: #cccccc" -->
	<footer class="footer">
		<div class="container">
			<p class="text-muted" style="text-align: center;">2017-12-05 Version 1.3.1</p>
		</div>
	</footer>
	<!-- <div style="position: absolute; bottom: 1cm;text-align: center;">
		<hr style="margin-bottom: 3px;border: none;border-top: 1px dotted #000000; height: 1px; width: 100%;">
		<div style="padding-top: -1px;text-align: center;">copyright@ Citsamex 2017-07-18</div>
	</div> -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static "jquery-3.2.1/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
</body>
</html>