{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1>{{ title }}</h1>
	</div>
	<p class="lead">{{ now }}</p>
	<p class="lead">{{ section }} - {{ viewname }}</p>
	<!-- <form class="form-signin" style="max-width: 490px; margin-left: 0; padding: 0px;" action="." method="post">
		<label class="sr-only" for="id_new_password1">New password:</label>
		<input class="form-control" style="height: 40px;margin-bottom: 5px;border-radius: 6px;" type="password" name="new_password1" id="id_new_password1" required="required" placeholder="New Password" autofocus="autofocus">
		<div>
			<ul>
				<li>Your password cannot be too similar to your other personal information.</li>
				<li>Your password must contain at least 8 characters.</li>
				<li>Your password cannot be a commonly used password.</li>
				<li>Your password cannot be entirely numeric.</li>
			</ul>
		</div>
		<label class="sr-only" for="id_new_password2">New password confirmation:</label>
		<input class="form-control" style="height: 40px;margin-bottom: 5px;border-radius: 6px;" type="password" name="new_password2" id="id_new_password2" required="required" placeholder="New Password confirmation">
		{% csrf_token %}
		<p><input class="btn btn-lg btn-primary btn-block" type="submit" name="reset_password" value="Confirm"></p>
	</form> -->
</div>
{% endblock %}