<!DOCTYPE html>
<html>
<head>
	<title>Demo_Page</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.7/css/bootstrap.min.css">
	<link href="./bootstrap-3.3.7/css/starter-template.css" rel="stylesheet">
	<style type="text/css">
		body{
			background-color: #eee
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Demo</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">URL</a></li>
					<li><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="starter-template" style="text-align: left;">
			<p style="font-size: 25px;">Demo API</p>
			<div style="padding-left: 20px; font-size: 16px;">
			<a href="http://10.181.57.133:8080/onlineHEAD"><input type="button" value="123"></a>
			<a href="http://10.181.57.133:8080/onlineHEAD" target="view_window">http://10.181.57.133:8080/onlineHEAD</a></br>
			<a href="http://10.181.57.133:9080/onlineTASK" target="view_window">http://10.181.57.133:9080/onlineTASK</a></br>
			<a href="http://10.181.57.133:9080/ntc" target="view_window">http://10.181.57.133:9080/ntc</a></br>
			<a href="http://10.181.57.133:9080/online-config" target="view_window">http://10.181.57.133:9080/online-config</a></br>
			<a href="http://10.181.57.133:9080/onlineconfig" target="view_window">http://10.181.57.133:9080/onlineconfig</a></br>
			<a href="http://10.181.57.138:8080/app-ws" target="view_window">http://10.181.57.138:8080/app-ws</a></br>
			<a href="http://10.181.57.138:8080/app-task" target="view_window">http://10.181.57.138:8080/app-task</a></br>
			<a href="https://demo.citsgbt.com" target="view_window">https://demo.citsgbt.com</a></br>
			<a href="https://demowebservices.citsgbt.com" target="view_window">https://demowebservices.citsgbt.com</a></br></br>
			</div>
			<p style="font-size: 25px;">预演环境</p>
			<div style="padding-left: 20px; font-size: 16px;">
			<a href="http://10.181.57.8/onlineHEAD" target="view_window">http://10.181.57.8/onlineHEAD</a></br>
			<a href="http://10.181.57.8/onlineTASK" target="view_window">http://10.181.57.8/onlineTASK</a></br>
			<a href="http://10.181.57.8/ntc" target="view_window">http://10.181.57.8/ntc</a></br>
			<a href="http://10.181.57.8/online-config" target="view_window">http://10.181.57.8/online-config</a></br>
			<a href="http://10.181.57.8/onlineconfig" target="view_window">http://10.181.57.8/onlineconfig</a></br>
			<a href="http://10.181.57.8/app-ws" target="view_window">http://10.181.57.8/app-ws</a></br>
			<a href="http://10.181.57.8/app-task" target="view_window">http://10.181.57.8/app-task</a></br></br>
			</div>
			<p style="font-size: 25px;">生产环境</p>
			<div style="padding-left: 20px; font-size: 16px;">
			<div>onlineHEAD</div>
			<a href="http://10.181.100.161:8080/onlineHEAD" target="view_window">http://10.181.100.161:8080/onlineHEAD</a></br>
			<a href="http://10.181.100.162:8080/onlineHEAD" target="view_window">http://10.181.100.162:8080/onlineHEAD</a></br>
			<a href="http://10.181.100.163:8080/onlineHEAD" target="view_window">http://10.181.100.163:8080/onlineHEAD</a></br>
			<div>app-ws</div>
			<a href="http://10.181.100.171:9080/app-ws" target="view_window">http://10.181.100.171:9080/app-ws</a></br>
			<a href="http://10.181.100.173:9080/app-ws" target="view_window">http://10.181.100.173:9080/app-ws</a></br>
			<div>onlineTASK</div>
			<a href="http://10.181.100.161:7080/onlineTASK" target="view_window">http://10.181.100.161:7080/onlineTASK</a></br>
			<div>app-task</div>
			<a href="http://10.181.100.169:9081/app-task" target="view_window">http://10.181.100.169:9081/app-task</a></br>
			<div>ntc</div>
			<a href="http://10.181.100.168:8081/ntc" target="view_window">http://10.181.100.168:8081/ntc</a></br>
			<div>onlineconfig/online-config</div>
			<a href="http://10.181.100.168:8081/online-config" target="view_window">http://10.181.100.168:8081/online-config</a></br>
			<a href="http://10.181.100.169:9080/onlineconfig" target="view_window">http://10.181.100.169:9080/onlineconfig</a></br>
			<div>OPPlatform</div>
			<a href="http://10.181.100.141:8080/kernel-eip-op" target="view_window">http://10.181.100.141:8080/kernel-eip-op</a></br>
			<a href="http://10.181.100.141:8080/kernel-eip-ui" target="view_window">http://10.181.100.141:8080/kernel-eip-ui</a></br>
			<div>OPWebservices</div>
			<a href="http://10.181.100.142:8080/kernel-eip" target="view_window">http://10.181.100.142:8080/kernel-eip</a></br>
			<div>Microservice-Master</div>
			<a href="http://10.181.100.181:9083/citsgbt-ui.html" target="view_window">http://10.181.100.181:9083/citsgbt-ui.html</a></br>
			<a href="http://10.181.100.182:9083/citsgbt-ui.html" target="view_window">http://10.181.100.182:9083/citsgbt-ui.html</a></br>
			<div>Microservice-Hotel</div>
			<a href="http://10.181.100.181:9093/citsgbt-ui.html" target="view_window">http://10.181.100.181:9093/citsgbt-ui.html</a></br>
			<a href="http://10.181.100.182:9093/citsgbt-ui.html" target="view_window">http://10.181.100.182:9093/citsgbt-ui.html</a></br>
			<div>Microservice-Gateway</div>
			<a href="http://10.181.100.181:8090/MasterServiceProvider/citsgbt-ui.html" target="view_window">http://10.181.100.181:8090/MasterServiceProvider/citsgbt-ui.html</a></br>
			<a href="http://10.181.100.181:8090/HotelServiceProvider/citsgbt-ui.html" target="view_window">http://10.181.100.181:8090/HotelServiceProvider/citsgbt-ui.html</a></br>
			</div>
			<!-- <h4 style="padding: 0px 20px;">this is a test.</h4>
			<h4 style="padding: 0px 20px;">this is a test2.</h4> -->
		</div>
	</div>
</body>
</html>