{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1>Change your password</h1>
	</div>
	<p class="lead">Use the form below to change your password.</p>
	<form class="form-signin" style="max-width: 490px; margin-left: 0; padding: 0px;" action="." method="post">
		{% if form.errors %}
		<div style="color: red;">
			<p>Password error.Please try agin.</p>
		</div>
		{% endif %}
		<label for="id_old_password" class="sr-only">Old password:</label>
		<input class="form-control" style="height: 40px;margin-bottom: 5px;border-radius: 6px;" type="password" name="old_password" id="id_old_password" placeholder="Old Password" required="required" autofocus>
		<label for="id_new_password1" class="sr-only">New password:</label>
		<input class="form-control" style="height: 40px;margin-bottom: 5px;border-radius: 6px;" type="password" name="new_password1" id="id_new_password1" placeholder="New Password" required="required">
		<div>
			<ul>
				<li>Your password can't be too similar to your other personal information.</li>
				<li>Your password must contain at least 8 characters.</li>
				<li>Your password can't be a commonly used password.</li>
				<li>Your password can't be entirely numeric.</li>
			</ul>
		</div>
		<label for="id_new_password2" class="sr-only">New password confirmation:</label>
		<input class="form-control" style="height: 40px;margin-bottom: 5px;border-radius: 6px;" type="password" name="new_password2" id="id_new_password2" placeholder="New Password confirmation" required="required">
		<p><input class="btn btn-lg btn-primary btn-block" type="submit" name="change_submit" value="Change"></p>
		{% csrf_token %}
	</form>
</div>
{% endblock %}