{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1>Forgotten your password?</h1>
	</div>
	<p class="lead">Enter your e-mail address to obtain a new password.</p>
	<form class="form-signin" style="/*max-width: 520px;*/ margin-left: 0; padding: 0px;" action="." method="post">
		<!-- {{ form.as_p }} -->
		<label class="sr-only" for="id_email">Email:</label>
		<input class="form-control" style="height: 40px;margin-bottom: 5px;border-radius: 6px;" type="email" name="email" maxlength="254" id="id_email" required="required" autofocus="autofocus" placeholder="E-mail address">
		<p><input class="btn btn-lg btn-primary btn-block" type="submit" name="reset_submit" value="Send E-mail"></p>
		{% csrf_token %}
	</form>
</div>
{% endblock %}